<h2>Admin Paneli</h2>

    <a class="nav-link text-dark" asp-area="" asp-controller="Category" asp-action="Index">Category İşlemleri için tıklayınız</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Post" asp-action="Index">Post İşlemleri için tıklayınız</a>
